@font-face {
  font-family: "iconfont"; /* Project id 794115 */
  src: url('iconfont.woff2?t=1689107881078') format('woff2'),
       url('iconfont.woff?t=1689107881078') format('woff'),
       url('iconfont.ttf?t=1689107881078') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play4:before {
  content: "\e623";
}

.icon-play5:before {
  content: "\e600";
}

.icon-huanyihuan:before {
  content: "\e653";
}

.icon-rerun24:before {
  content: "\e7d5";
}

